// reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", serif;
}

// colors
$primary-dark: #212936;
$primary-light: #E5E7EB;
$grey-100: #121826a6;
$grey-200: #4D5562;
$primary-accent: #C93B76;
$primary-accent-transparent: #C93B7660;

// typography
@mixin track-name {
    font-family: "Inter", serif;
    font-size: 1rem;
    font-weight: 500;
}

@mixin artist {
    font-family: "Inter", serif;
    font-size: .75rem;
    font-weight: 400;
}

@mixin s-text {
    font-family: "Inter", serif;
    font-size: .625rem;
    font-weight: 400;
}

body {
    min-height: 100svh;
    display: grid;
    place-items: center;
    background-image: url(../images/bg.jpg);
}

.player {
    width: 90%;
    max-width: 320px;
    display: grid;
    align-items: center;
    text-align: center;
    background-color: $grey-100;
    padding: 24px;
    border-radius: 16px;

    .track-info {
        img {
            border-radius: 8px;
            margin-bottom: 1rem;
        }

        h2 {
            @include track-name();
            color: $primary-light;
            margin-bottom: .25rem;
        }

        h3 {
            @include artist();
            color: $grey-200;
            margin-bottom: 1.5rem;
        }
    }

    .seek-slider {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 2rem;

        input {
            appearance: none;
            width: 100%;
            height: 4px;
            border-radius: 4px;
            outline: none;
            cursor: pointer;
            overflow: hidden;
            
        }

        // firefox
        input::-moz-range-thumb {
            appearance: none;
            width: 0;
            height: 0;
            box-shadow: calc(-1 * 360px) 0 0 360px $primary-accent;
        }

        // webkit
        input::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 0;
            height: 0;
            box-shadow: calc(-1 * 360px) 0 0 360px $primary-accent;
        }

        span {
            @include s-text();
            color: $grey-200;
            margin-bottom: .3rem;
            user-select: none;
        }
    }

    .audio-controls {
        display: flex;
        justify-content: center;
        gap: 24px;

        .prev {
            cursor: pointer;
            background-color: transparent;
            border: none;
            color: $grey-200;
            transition: color 0.2s ease;

            &:hover {
                color: $primary-accent;
            }
        }

        .play-pause {
            cursor: pointer;
            background-color: $primary-accent;
            width: 48px;
            height: 48px;
            padding-top: .2rem;
            border: none;
            border-radius: 50%;
            filter: drop-shadow(0 0 6px $primary-accent-transparent);
            transition: filter 0.3s ease;

            &:hover {
                filter: drop-shadow(0 0 6px $primary-accent);
            }
        }

        .next {
            cursor: pointer;
            background-color: transparent;
            border: none;
            color: $grey-200;
            transition: color 0.2s ease;

            &:hover {
                color: $primary-accent;
            }
        }
    }
}